
<div class="home-page">
  <form method="GET" action="/artist-search">
    <label class="search-label">
      <input type="text" name="artist" placeholder="Search your artist here"/>
    </label>
    <button class="search-btn">Find your artist</button>
  </form>
  </div>